<!doctype html>
<html>
  <head>
    <title>Delete a user <%=webName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=webName%></h1>
    <h2>Delete User</h2>
    <p>Please enter the username for the user you wish to be deleted</p>
    <form method="POST" action="/deleteduser">
        <p>Username: <input id="username" type="text" name="username" value="username" /></p>
        <input type="submit" value="confirm" />
      </form>
  </body>
</html>