<!doctype html>
<html>
  <head>
    <title>Welcome to <%=webName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=webName%></h1>
    <p><a href="about">About <%=webName%></a></p>
    <p><a href="search">Search for books</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="deleteuser">Delete user</a></p>
    <p><a href="login">Login here</a></p>
    <p><a href="/logout">Logout here</a></p>
    <p><a href="/ratings">Ratings</a></p>
  </body>
</html>
