<!doctype html>
<html>
  <head>
    <title>Welcome to <%=webName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=webName%></h1>

    <p><a href='/'>Home</a></p>
    <p><a href="about">About <%=webName%></a></p>
    <p><a href="search">Enter to Search</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="deleteuser">Delete user</a></p>
    <p><a href="/ratings">Ratings</a></p>
    <p><a href="/forum">Forum</a></p>
    <p><a href="/reviews">Reviews</a></p>




    <form action="/search-result" method="GET">
        <p>Search for a User</p>
        <input id="search-box" type="text" name="keyword" value="">
        <input type="submit" value="Search" >
      </form>
  







    <% if (isLoggedIn) { %>
        <p><%= loginMessage %></p>
        <p><a href="/logout">Logout</a></p>
    <% } else { %>
        <p><a href="/login">Login</a></p>
    <% } %>
    





  </body>
</html>
