<!doctype html>
<html>
  <head>
    <title>Film Ratings -  <%=webName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Film Ratings -  <%=webName%></h1>
    <p> THE RATINGS
    </p>
  </body>
</html>