<!doctype html>
<html>
  <head>
    <title>About <%=webName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=webName%></h1>
    <p>Results
      form action="/search-result" method="GET">
      <p>Search for a User</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>
    </p>


    
    <p><a href='/'>Home</a></p>
    <p><a href="about">About <%=webName%></a></p>
    <p><a href="search">Enter to Search</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="deleteuser">Delete user</a></p>
    <p><a href="/ratings">Ratings</a></p>
    <p><a href="/forum">Forum</a></p>
    <p><a href="/reviews">Reviews</a></p>




   
    <% if (isLoggedIn) { %>
        <p><%= loginMessage %></p>
        <p><a href="/logout">Logout</a></p>
    <% } else { %>
        <p><a href="/login">Login</a></p>
    <% } %>
    






  </body>
</html>